/*  A modified version of Windows 95 Theme

    WIN95.CSS
    https://github.com/AlexBSoft/win95.css
    Author: Alex B (alex-b.me) */

@font-face {
    font-family: "Bitmgothic";
    src: url('Bitmgothic.woff2');
    font-display: swap;
}

@font-face {
    font-family: "Century Gothic Bold";
    src: url('CenturyGothic-Bold.woff2');
    font-display: swap;
}

html {
    min-height: 100%;
}

body {
	font-family: "MS Sans Serif", "Tahoma", "Verdana", "sans-serif";
    background: repeating-linear-gradient(-45deg, transparent, transparent 3px, #2a2329 3px, #2a2329 30px ) fixed, linear-gradient(to bottom right, #F19, #0CF);
    text-align: center;
    color: #212529;
    overflow-x: hidden;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
    letter-spacing: -.1rem;
    color: white;
}

nav {
    background: rgb(214, 211, 206);
    margin: 0;
    border: 1px outset #fff;
    height: 3em;
    padding: .2em;
    bottom: 0;
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
}

div#EndCard {
	animation: fadein 3s;
    margin: auto;
    padding: 0;
}

#EndScore {
    margin: 1em;
}

h3 {
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 0, 0, 0, .5em;
}

.project {
    font-family: "Century Gothic Bold";
    font-size: 40px;
}

.passage {
	text-shadow: 2px 2px #ff00f3;
    font-family: Bitmgothic;
    font-size: 40px;
}

.scenario, .reply, .score {
	font-size: 1em;
	margin: 10px auto;
	padding: 5px;
    border: 2px solid;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
    animation: fadein .35s;
}

.score {
    margin: 0px;
    display: inline-block;
    border-color: transparent #545C4F #545C4F transparent;
    background: #A7D18C;
}

.navigation {
    margin: auto 10%;
	font-size: .8em;
	height: 2.2em;
    line-height: 2.8em;
    -webkit-tap-highlight-color: transparent;
}

.scenario, .reply, div#EndCard {
    width: 75%;
}

.hidden {
	display: none;
}

.button {
    border: 2px outset;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
    border-radius: 1px;
    margin-top: 10px;
    width: 50%;
	font-size: .8em;
	min-height: 2.5em;
	line-height: 2.8em;
	padding: .25em 1em;
	white-space: normal;
	line-height: normal;
    margin: 5px;
    color: #212529;
    font-weight: 400;
    text-transform: none;
}

*,*:focus,*:hover{
    outline: none;
}

.button:hover {
    border: 2px inset white;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}

.button:disabled {
    cursor: default;
    background-color: silver;
    border-style: outset;
    color: grey;
    text-shadow: 1px 1px white;
}

.card {
    border: 2px solid;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
}

.card-header{
    background: linear-gradient(to left,#08216b,#a5cef7);
    color: #fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.flexmain {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 4em;
	animation: fadein .35s;
}

.flexmain > div {
    width: 70%;
    margin: auto;
	animation: fadein .35s;
}

/* ANIMATIONS */

@keyframes fadein {
	from {
        transform: scale(1.25);
		opacity: 0;
	}
}

@media (min-width: 80em) {
	body {
		font-size: 24px; 
    }
    
    img {
        transform: scale(1.5);
    }

	.flexmain {
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}

	.flexmain > div {
		padding-top: 2em;
		width: 25%;
		min-height: 15em;
		margin: 0 3%;
	}

	.flexmain > div > .button {
		width: 100%;
	}
}

@media (min-width: 120em) {
	body {
		font-size: 28px; 
    }
    
    img {
        transform: scale(2);
    }
}