/*  A modified version of Windows 95 Theme

    WIN95.CSS
    https://github.com/AlexBSoft/win95.css
    Author: Alex B (alex-b.me) */

@font-face {
    font-family: "Bitmgothic";
    src: url('Bitmgothic.woff2');
}

@font-face {
    font-family: "Century Gothic Bold";
	src: url('CenturyGothic-Bold.woff2');
}

body {
	font-family: "MS Sans Serif", "Tahoma", "Verdana", "sans-serif";
    background: repeating-linear-gradient(-45deg, transparent, transparent 28px, rgb(42,35,41) 28px, rgb(42,35,41) 34px ) fixed, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGMTkiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMENGIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+") fixed;
    text-align: center;
    color: #212529;
    animation: fadein 0.35s;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
    letter-spacing: -.1rem;
    color: white;
}

nav {
    background: rgb(214, 211, 206);
    margin: 0;
    border: 1px outset #fff;
    height: 3em;
    padding: 0.2em;
    bottom: 0;
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
}

div#EndCard {
	animation: fadein 3s;
    margin: auto;
    padding: 0;
}

#EndScore {
    margin: 1em;
}

h3 {
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
}

.project {
    font-family: "Century Gothic Bold";
    font-size: 40px;
}

.passage {
	text-shadow: 2px 2px #ff00f3;
    font-family: Bitmgothic;
    font-size: 40px;
}

.scenario, .reply, .score {
	font-size: 1em;
	margin: 10px auto;
	padding: 5px;
    border: 2px solid;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
    animation: fadein 0.35s;
}

.score {
    margin: 0px;
    display: inline-block;
    border-color: transparent #545C4F #545C4F transparent;
    background: #A7D18C;
}

.navigation {
    margin: auto 10%;
	font-size: .8em;
	height: 2.2em;
    line-height: 2.8em;
    -webkit-tap-highlight-color: transparent;
}

.scenario, .reply, div#EndCard {
    width: 75%;
}

.hidden {
    display: none;
}

/* BUTTONS */

.button {
    border-width: 2px;
    border-style: outset;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
    border-radius: 1px;
    margin-top: 10px;
    width: 50%;
	font-size: .8em;
	min-height: 2.5em;
	line-height: 2.8em;
	padding: .25em 1em;
	white-space: normal;
	line-height: normal;
    margin: 5px;
    color: #212529;
    font-weight: 400;
    text-transform: none;
}

.button:hover {
    border: 2px inset white;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}

.button:disabled {
    cursor: default;
    background-color: silver;
    border-style: outset;
    color: grey;
    text-shadow: 1px 1px white;
}

.card {
    border: 2px solid;
    border-color: transparent #424242 #424242 transparent;
    background: silver;
}

.card-header{
    background: linear-gradient(to left,#08216b,#a5cef7);
    color: #fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

/* ANIMATIONS */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}