@font-face {
    font-family: "Bitmgothic";
    src: url('Bitmgothic.woff2');
}

@font-face {
    font-family: "Century Gothic Bold";
	src: url('CenturyGothic-Bold.woff2');
}

body {
	font-family: "Century Gothic Bold";
	color: white;
	background: linear-gradient(to bottom, grey, #1A1D20) fixed;
	text-align: center;
	animation: fadein 0.35s;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2, h3 {
	margin: 10px;
}

p {
	font-size: 1em;
	padding: 5px;
	margin: 5px;
}

a {
	color: white;
	-webkit-tap-highlight-color: transparent;
}

nav {
	border-radius: 15px 15px 0px 0px;
	height: 3em;
	bottom: 0;
	background-color: #343a40;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
}

.passage {
	font-family: Bitmgothic;
	text-shadow: 2px 2px #1A1D20;
}

div.card {
	background-color: rgba(0, 0, 0, 0.5);
	margin: 10px 10px 5px;
	width: 70%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	padding: 0;
	box-shadow: none;
}

@media (min-width: 80em) {
	.pcwarning {
	display: inline;
	}
}

@media (max-width: 80em) {
	.pcwarning {
		display: none;
	}
}

.missions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modes {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-bottom: 50px;
	animation: fadein 0.35s;
}

.hidden {
	display: none;
}

.switches {
	margin: 12px 10%;
}

.button {
	font-size: .8em;
	height: 2.2em;
	line-height: 2.8em;
	padding: 0 1em;
	margin-bottom: 1em;
}

.disabled {
    pointer-events:none;
    opacity: 0.65;
}

.button-outline {
	border-color: rgba(255, 255, 255, 0.5);
}

.playa {
	font-size: 50px;
	margin-top: 5rem;
	filter: drop-shadow(3px 3px rgba(255, 0, 243, .5));
}

.plays {
	font-size: 50px;
	margin-top: 5rem;
	filter: drop-shadow(3px 3px rgba(142, 14, 0, .5));
}

.shadow {
	filter: drop-shadow(2px 2px 4px black);
}

/* ANIMATIONS */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}