@font-face {
    font-family: "Bitmgothic";
	src: url('Bitmgothic.woff2');
	font-display: swap;
}

@font-face {
    font-family: "Century Gothic Bold";
	src: url('CenturyGothic-Bold.woff2');
	font-display: swap;
}

body {
	font-family: "Century Gothic Bold";
	color: white;
	background-color: #555555;
	text-align: center;
	margin: 0;
	transition: background-color .35s;
	overflow-x: hidden;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2, h3 {
	margin: 10px;
}

p {
	margin: 5px;
	padding: 5px;
}

a {
	color: white;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

nav {
	border-radius: 15px 15px 0px 0px !important;
	backdrop-filter: blur(4px);
	height: 3em;
	bottom: -4em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	border-style: solid none none none !important;
	animation: slidein .35s forwards;
}

.passage {
	font-family: Bitmgothic;
	text-shadow: 2px 2px #1A1D20;
}

.flexmissions, .flexhome, .flexarcadesurvival {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	margin-bottom: .5em;
}

.card {
	margin: 10px 10px 5px;
	width: 100%;
	padding: 0;
	box-shadow: none;
}

.greeter {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
	margin-top: 2em;
}

.info {
	width: 100%;
	padding: 5px;
	margin-top: 2em;
}

.modes {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-bottom: 4em;
}

.modes > div {
	animation: fadein .35s;
	will-change: opacity, transform;
}

.hidden {
	display: none;
}

.switches, .switchesmain {
	margin: 12px 10%;
}

.icon {
	fill: white;
	width: 36px;
	height: 36px;
}

.iconsmol {
	fill: white;
	width: 24px;
	height: 24px;
}

.switchestory:hover, .storyicon:hover {
	fill: #6fb98f;
	color: #6fb98f;
}

.switchestory:active, .storyicon:active {
	fill: #48775c;
	color: #48775c;
}

.switcharcade:hover, .arcadeicon:hover {
	fill: #8E3E6C;
	color: #8E3E6C;
}

.switcharcade:active, .arcadeicon:active {
	fill: #642c4c;
	color: #642c4c;
}

.switchsurvival:hover, .survivalicon:hover {
	fill: #8E3939;
	color: #8E3939;
}

.switchsurvival:active, .survivalicon:active {
	fill: #662929;
	color: #662929;
}

.button {
	height: auto;
	padding: .125em 1em;
	border: thin solid #ddd;
	margin: 7px;
	border-radius: 10px;
	background: transparent;
	display: inline-block;
}

.disabled {
    pointer-events: none;
    opacity: .65;
}

.playbig > svg {
	height: 5em;
	width: 5em;
}

.shadow {
	filter: drop-shadow(2px 2px 4px black);
}

.acrylic {
	border-radius: 15px;
	border: thin solid #ddd;
	background-color: rgba(0, 0, 0, .3);
}

.trophy {
	right: 0;
	position: absolute;
	margin: 10px;
	height: 24px;
	width: 24px;
}

.reset {
	width: 70%;
}

/* ANIMATIONS */

@keyframes fadein {
	from {
		transform: scale(1.25);
		opacity: 0;
	}
}

@keyframes slidein {
	to {
		bottom: 0;
	}
}

@media (min-width: 80em) {
	body {
		font-size: 24px; 
	}

	.icon {
		width: 48px;
		height: 48px;
	}

	.iconsmol {
		width: 36px;
		height: 36px;
	}

	.flexmissions, .flexhome, .flexarcadesurvival {
		flex-flow: row wrap;
		width: 100%;
	}

	.flexhome {
		transform: translateY(25%);
	}

	.modes {
		margin-bottom: 0;
	}

	.card {
		width: 25%;
		height: 10em;
		margin: 1%;
		padding-top: 2em;
	}

	.greeter, .info {
		width: 25%;
		height: 15em;
		margin: 0 3%;
	}

	nav {
		border-radius: 0px 15px 15px 0px !important;
		border-style: none solid none none !important;
		transform: translateX(-3em);
		bottom: 0;
		width: 72px;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		position: fixed;
	}
	
	.switches {
		margin: 100% auto;
	}

	.trophy {
		margin-top: -1.5em;
	}

	.surviv {
		height: 12em;
		padding-top: 0;
	}

	.easy, .hard {
		width: 32px;
		height: 32px;
		margin: 2px;
	}

	.reset {
		width: 52%;
	}

	@keyframes slidein {
		to {
			transform: translateX(0em);
		}
	}
}

@media (min-width: 120em) {
	body {
		font-size: 28px; 
	}

	div.card {
		padding-top: 3em;
	}
}