@font-face {
    font-family: 'Bitmgothic';
    src: url('..\css\Bitmgothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Arial", sans-serif;
	background-color: #003b46;
}

header {
	background: #003b46;
	background: -webkit-linear-gradient(to bottom, #07575b, #003b46);
	background: linear-gradient(to bottom, #07575b, #003b46);
    text-align: center;
}

h1 {
	color: white;
	font-size: 300%;
    text-align: center;
	font-weight: bold;
}

.project {
	font-family: Century Gothic;
}

.passage {
	text-shadow: 2px 2px #2BAE66;
	font-family: Bitmgothic;
}

p {
	text-align: center;
	background-color:rgba(0,0,0,0);
	background-size: 50%;
	color: white;
	font-size: 1rem;
	width: 50%;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid;
	border-color: #66A5AD;
	padding: 5px;
	padding-bottom: 5px;
}

.reply {
	width: 50%;
}

.score {
	background-color:rgba(0,0,0,0);
	border-color: #64c864;
	width: fit-content;
	display: inline-block;
}

button {
	width: 25%;
	text-align: center;
}

.navigation { 
	margin: 10px 10px 10px;
}

.flex-container {
	display: flex;
}