@font-face {
    font-family: "Bitmgothic";
	src: url("Bitmgothic.woff2");
	font-display: swap;
}

@font-face {
    font-family: "Century Gothic Bold";
	src: url("CenturyGothic-Bold.woff2");
	font-display: swap;
}

body {
	font-family: "Arial", "sans-serif";
	text-align: center;
	background-position: 50% 50%;
	color: white;
	overflow-x: hidden;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

nav {
	border-radius: 15px 15px 0px 0px !important;
	border-style: solid none none none !important;
	backdrop-filter: blur(4px);
	height: 3em;
	bottom: 0;
	padding-left: .2em;
	padding-right: .2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
}

.button {
	width: 50%;
	font-size: .8em;
	font-weight: 400;
	height: auto;
	padding: .5em;
	margin: 5px auto;
	color: white !important;
	border-radius: 10px;
	background: transparent;
	transition: all .35s;
}

*,*:focus,*:hover{
    outline: none;
}

.flexmain {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 4em;
	animation: fadein .35s;
}

.flexmain > div {
	width: 70%;
	margin: auto;
	animation: fadein .35s;
}

.icon-only {
	margin: 10px;
}

.project {
	font-family: "Century Gothic Bold";
}

.passage {
	font-family: Bitmgothic;
}

.scenario, .reply {
	display: block;
	font-size: 1em;
	margin: 10px auto;
	padding: 5px;
	border: 1px solid rgb(111, 185, 143);
	animation: fadein .35s;
	transition: width .35s;
}

#EndCard, #TheoCard, #StarragCard, #DuddingCard {
	margin: .5em auto;
	width: 75%;
	padding: 1em;
	box-shadow: none;
	animation: fadein .35s;
}

.acrylic {
	border-radius: 15px;
	border: 1px solid #ddd;
	background: rgba(0, 0, 0, .3);
}

.hidden {
	display: none;
}

input {
	width: 70%;
	color: white;
}

@keyframes fadein {
	from {
		transform: scale(1.25);
		opacity: 0;
	}
}

@media (min-width: 80em) {
	body {
		font-size: 24px; 
	}

	.flexmain {
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}

	.flexmain > div {
		padding-top: 2em;
		width: 25%;
		min-height: 15em;
		margin: 0 3%;
	}

	.flexmain > div > .button {
		width: 100%;
	}
}

@media (min-width: 120em) {
	body {
		font-size: 28px; 
	}
}