@font-face {
  font-family: "Bitmgothic";
  src: url("Bitmgothic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic Bold";
  src: url("CenturyGothic-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pixel";
  src: url("Pixel.woff2");
  font-display: swap;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Arial", "sans-serif";
  text-align: center;
  color: white;
  overflow-x: hidden;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-size: 1000% 1000% !important;
  background-position: 0% 0% !important;
  transition: all .35s;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
  font-size: 1.5em;
  margin: 0.5em;
  font-weight: normal;
}

nav {
  border-radius: 15px 15px 0px 0px !important;
  border-style: solid none none none !important;
  padding: 0.2em;
  transform: translateY(3em);
	bottom: 0;
	width: 100vw;
	height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
  animation: slidein 0.35s forwards;
}

.button {
  width: 50%;
  font-size: 0.8em;
  font-weight: 400;
  height: auto;
  padding: 0.5em;
  margin: 5px auto;
  color: white !important;
  border-radius: 10px;
  background: transparent;
  transition: 0.35s;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  transform: scale(0.95);
}

button:active {
  transform: scale(0.8);
}

*, *:focus, *:hover {
  outline: none;
}

.flexmain {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 4em;
  animation: fadein 0.35s;
  will-change: opacity, transform;
}

.flexmain > div {
  width: 70%;
  margin: auto;
  animation: hover 10s infinite;
  will-change: transform;
}

.flexmain > div:nth-child(2) {
  animation-delay: 0.3s;
}

.flexmain > div:nth-child(3) {
  animation-delay: 0.6s;
}

.itemflex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 300px;
  height: 75px;
  margin: auto;
  animation: fadein 0.35s;
  will-change: opacity, transform;
}

.icon-only {
  margin: 10px;
}

.project {
  font-family: "Century Gothic Bold";
}

.passage {
  font-family: Bitmgothic;
}

.scenario, .reply {
  display: block;
  font-size: 1em;
  margin: 10px auto;
  padding: 5px;
}

.reply {
  animation: fadein 0.35s;
  will-change: opacity, transform;
}

.acrylic {
  border-radius: 15px;
  border: thin solid #ddd;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 15px inset rgba(0, 0, 0, 0.1);
}

.hpmessage {
  position: absolute;
  bottom: 3em;
}

.hpmessage > .hptext {
  margin: 0.5em auto;
  width: 30%;
  animation: comein 2s;
  will-change: opacity, transform;
}

#EndCard, #LevelCard {
  width: 50%;
  margin: 10px auto;
  padding: 0;
  animation: fadein 0.35s;
  will-change: opacity, transform;
}

.navigation {
  margin: auto 10%;
  font-size: 0.8em;
  height: 2.2em;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}

input {
  width: 40%;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 15px !important;
}

.wrong {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #f3904f, #3b4371);
  animation: wrong 3s;
  will-change: opacity;
}

.hintbtn, .homebtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  height: 24px;
  width: 24px;
}

.homebtn {
  left: 0;
}

* :after, :before {
  box-sizing: inherit;
}

.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.togglediv {
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  margin: 10px 0 0 10px;
  position: fixed;
}

#toggle {
  background: none;
  border: none;
}

.glow {
  animation: glow 2s infinite, slidein 0.35;
}

/* ANIMATIONS */

@keyframes slidein {
  to {
    transform: translateY(0);
  }
}

@keyframes glow {
  from {
    transform: translateY(0);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4), 0 0 15px 15px inset rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translateY(0);
    box-shadow: 0 0 15px 40px rgba(255, 255, 255, 0), 0 0 15px 15px inset rgba(0, 0, 0, 0.1);
  }
}

@keyframes hover {
  20%, 80% {
    transform: translate3d(0, -0.3em, 0);
  }
  50% {
    transform: translate3d(0, 0.3em, 0);
  }
}

@keyframes fadein {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes wrong {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes comein {
  0% {
    opacity: 0;
  }
  10%,  30%,  50% {
    transform: rotate(10deg) translateX(10px);
    opacity: 1;
  }
  20%,  40%,  60% {
    transform: rotate(-10deg) translateX(-10px);
  }
  65%,  90% {
    transform: rotate(0deg) translateX(10px);
  }
}

@media (min-width: 80em) {
  body {
    font-size: 24px;
  }

  .scenario, .reply {
    margin: 5px auto;
  }

  .flexmain {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .flexmain > div {
    padding-top: 2em;
    width: 25%;
    min-height: 15em;
    margin: 0 3%;
  }

  .flexmain > div > .button {
    width: 100%;
  }

  img {
    transform: scale(1.5);
  }

  .hintbtn, .homebtn {
    margin: 18px;
  }
}

@media (min-width: 120em) {
  body {
    font-size: 28px;
  }
}