@font-face {
    font-family: "Bitmgothic";
	src: url("Bitmgothic.woff2");
	font-display: swap;
}

@font-face {
    font-family: "Century Gothic Bold";
	src: url("CenturyGothic-Bold.woff2");
	font-display: swap;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Arial", "sans-serif";
	background: linear-gradient(to bottom, #8E0E00, black) fixed;
	text-align: center;
	color: white;
	width: 100%;
	overflow-x: hidden;
	line-height: 1.6;
	margin: 0;
    padding: 0;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h3 {
	font-size: 1.5em;
	margin: .4em;
	font-weight: normal;
}

nav {
	border-radius: 15px 15px 0px 0px !important;
	border-style: solid none none none !important;
	height: 3em;
	bottom: 0;
	background-color: #410600;
	padding-left: .2em;
	padding-right: .2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
}

div#EndCard,  div#DeadCard{
	animation: fadein .35s;
	margin: 1em auto;
	width: 75%;
	border-radius: 15px;
	padding: 1em;
	box-shadow: none;
	will-change: opacity, transform;
}

#progressbar {
	border-radius: 10px;
	padding: 2px;
	height: 2em;
}
  
#progressbar > div {
	background: rgba(65, 6, 0, .7);
	height: 100%;
	border-radius: 8px;
	font-size: 1em;
	transition: width .35s ease-in-out;
}

.project {
	font-family: "Century Gothic Bold";
}

.passage {
	text-shadow: 2px 2px red;
	font-family: Bitmgothic;
}

.button {
	width: 50%;
	font-size: .8em;
	font-weight: 400;
	height: auto;
	padding: .5em;
	margin: 5px;
	color: white !important;
	border: 2px solid #8E0E00;
	border-radius: 10px;
	-webkit-tap-highlight-color: transparent;
}

button:active {
	transform:scale(.98)
}

button:disabled {
	opacity:.4;
	cursor: not-allowed
}

*,*:focus,*:hover{
    outline: none;
}

.scenario, .reply {
	font-size: 1em;
	width: 100%;
	margin: 10px auto;
	padding: 5px;
	border-radius: 15px;
	animation: fadein .35s;
	will-change: opacity, transform;
}

.navigation { 
	margin: 12px 10%;
	font-size: .8em;
	height: 2.2em;
	line-height: 2.8em;
	-webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none;
}

.shadow {
	filter: drop-shadow(2px 2px 4px black);
}

.flexmain {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	margin-bottom: 4em;
	animation: fadein .35s;
	will-change: opacity, transform;
}

.flexmain > div {
    width: 70%;
    margin: auto;
	animation: fadein .35s;
	will-change: opacity, transform;
}

.acrylic {
	border-radius: 15px;
	border: 1px solid #8E0E00;
	background: rgba(0, 0, 0, .3);
}

*, :after, :before {
	box-sizing: inherit;
}

/* ANIMATIONS */

@keyframes fadein {
	from {
        transform: scale(1.25);
		opacity: 0;
	}
}

@media (min-width: 80em) {
	body {
		font-size: 24px; 
    }
	
	.scenario, .reply {
		margin: 5px auto;
	}

    img {
        transform: scale(1.5);
    }

	.flexmain {
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}

	.flexmain > div {
		padding-top: 2em;
		width: 25%;
		min-height: 15em;
		margin: 0 3%;
	}

	.flexmain > div > .button {
		width: 100%;
	}

	#progressbar > div{
		font-size: 1em;
		transform: translateY(0%);
	}
}

@media (min-width: 120em) {
	body {
		font-size: 28px; 
    }
    
    img {
        transform: scale(2);
    }
}