@font-face {
  font-family: Bitmgothic;
  src: url("Bitmgothic.woff2");
  font-display: swap;
}

@font-face {
  font-family: Lexend Regular;
	src: url('LexendRegular.woff2');
	font-display: swap;
}

@font-face {
  font-family: Pixel;
  src: url("Pixel.woff2");
  font-display: swap;
}

html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;
  overflow-x: hidden;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-size: 1000% 1000% !important;
  background-position: 0% 0% !important;
  transition: all .35s;
  user-select: none;
  width: 100%;
}

body, button {
  font-family: Lexend Regular;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.2;
  letter-spacing: -.1rem;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
  font-size: 1.5em;
  margin: .5em .5em .2em .5em;
  font-weight: normal;
}

nav {
  border-radius: 15px 15px 0px 0px !important;
  border-style: solid none none none !important;
  transform: translateY(3em);
	bottom: 0;
	width: 100%;
	height: 3em;
	display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
	position: fixed;
  animation: slidein .35s forwards;
  backdrop-filter: blur(8px);
}

hr {
  width: 95%;
}

.button {
  width: 50%;
  font-size: .8em;
  font-weight: 400;
  height: auto;
  padding: .5em;
  margin: 5px auto;
  color: white !important;
  border-radius: 10px;
  background: transparent;
  transition: .35s;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  transform: scale(.95);
}

button:active {
  transform: scale(.8);
}

*, *:focus, *:hover {
  outline: none;
}

.flexmain {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 4em;
  animation: fadein .35s;
  will-change: opacity, transform;
}

.flexmain > div {
  width: 70%;
  margin: auto;
  animation: hover 10s infinite;
  will-change: transform;
}

.flexmain > div:nth-child(2) {animation-delay: .3s;}
.flexmain > div:nth-child(3) {animation-delay: .6s;}

.itemflex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 9em;
  height: 3em;
  margin: auto;
  animation: fadein .35s;
  will-change: opacity, transform;
}

.hpmessage {
  color: white;
  position: absolute;
  bottom: 3em;
  width: 100%;
}

.hptext {
  opacity: 0;
  animation: comein 1s;
  will-change: opacity, background-color;
}

.icon-only {
  margin: 10px;
}

.passage {
  font-family: Bitmgothic;
}

.scenario, .reply {
  display: block;
  font-size: 1em;
  margin: 10px auto;
  padding: 5px;
}

.reply {
  animation: fadein .35s;
  will-change: opacity, transform;
}

.acrylic {
  border-radius: 15px;
  border: thin solid #ddd;
  background: rgba(0, 0, 0, .3);
  box-shadow: 0 0 15px 15px inset rgba(0, 0, 0, .1);
}

#EndCard {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  animation: fadein .35s;
  will-change: opacity, transform;
}

.navigation {
  margin: 0 10%;
  font-size: .8em;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.disabledimg {
  filter: grayscale(100%);
  pointer-events: none;
}

.hidden {
  display: none;
}

input {
  width: 40%;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 15px !important;
}

.wrong {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #f3904f, #3b4371);
  animation: wrong 3s;
  will-change: opacity;
}

.hintbtn, .homebtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  height: 24px;
  width: 24px;
}

.homebtn {
  left: 0;
}

* :after, :before {
  box-sizing: inherit;
}

.disabled {
  pointer-events: none;
  opacity: .65;
}

.togglediv {
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  margin: 10px 0 0 10px;
  position: fixed;
}

#toggle {
  background: none;
  border: none;
}

.glow {
  animation: glow 2s infinite, slidein .35;
}

.potion {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 2.75em;
  transform: scale(1) !important;
}

.noitems {
  transform: translateY(25%);
}

/* ANIMATIONS */

@keyframes slidein {
  to {
    transform: translateY(0);
  }
}

@keyframes drunk {
  0% {
    transform: rotate(0deg) scale(1);
    filter: saturate(1);
  }
  40% {
    transform: rotate(10deg) scale(2);
    filter: saturate(2);
  }
  80% {
    transform: rotate(-20deg) scale(0.7);
    filter: saturate(4);
  }
  90% {
    transform: rotate(720deg) scale(0.1);
    filter: saturate(10);
  }
  100% {
    transform: rotate(1080deg) scale(1);
    filter: saturate(1);
  }
}


@keyframes glow {
  from {
    transform: translateY(0);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, .4), 0 0 15px 15px inset rgba(0, 0, 0, .1);
  }
  to {
    transform: translateY(0);
    box-shadow: 0 0 15px 40px rgba(255, 255, 255, 0), 0 0 15px 15px inset rgba(0, 0, 0, .1);
  }
}

@keyframes hover {
  20%, 80% {
    transform: translate3d(0, -.15em, 0);
  }
  50% {
    transform: translate3d(0, .15em, 0);
  }
}

@keyframes fadein {
  from {
    transform: scale(.8);
    opacity: 0;
  }
}

@keyframes wrong {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes comein {
  0% {
    opacity: 0;
  }
  10%,  30%,  50% {
    transform: rotate(5deg) translateX(5px);
    opacity: 1;
  }
  20%,  40%,  60% {
    transform: rotate(-5deg) translateX(-5px);
  }
  65%,  90% {
    transform: rotate(0deg) translateX(5px);
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@media (min-width: 80em) {
  body {
    font-size: 24px;
  }

  .scenario, .reply {
    margin: 5px auto;
  }

  .flexmain {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .flexmain > div {
    padding-top: 2em;
    width: 25%;
    min-height: 15em;
    margin: 0 3%;
  }

  .flexmain > div > .button {
    width: 100%;
  }

  img {
    transform: scale(1.5);
  }

  .hintbtn, .homebtn {
    margin: 18px;
  }

  @keyframes hover {
    20%, 80% {
      transform: translate3d(0, -.3em, 0);
    }
    50% {
      transform: translate3d(0, .3em, 0);
    }
  }
}

@media (min-width: 120em) {
  body {
    font-size: 28px;
  }
}