@font-face {
    font-family: 'silkscreennormal';
    src: url('slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Arial", sans-serif;
	background-color: #22C386;
}

header {
	background: rgb(34,195,134);
	background: linear-gradient(0deg, rgba(34,195,134,1) 0%, rgba(184,221,60,1) 100%);
    text-align: center;
}

h1, .center {
	font-family: silkscreennormal;
	font-size: 300%;
    text-align: center;
	font-weight: bold;
}

p {
	text-align: center;
	background: #D38601;
	background-size: 50%;
	width: 50%;
	margin: 10px auto;
	border-radius: 10px;
	border: 5px solid;
	border-color: #996100;
	padding: 5px;
	padding-bottom: 5px;
}

.reply {
	width: 50%;
}

.score{
	width: fit-content;
	display: inline-block;
}

button {
	width: 25%;
	text-align: center;
}