body {
	background: linear-gradient(0deg, #1C350C, #2B5B1C, #73A643) fixed;
	background-position: 50% 50%;
	text-align: center;
}

.passage {
	text-shadow: 2px 2px #5DC04E;
	font-family: Bitmgothic;
}