@font-face {
    font-family: 'Bitmgothic';
    src: url('../Bitmgothic.woff2');
}

@font-face {
    font-family: 'Century Gothic Bold';
	src: url('../CenturyGothic-Bold.woff2');
}

body {
	text-align: center;
	background-position: 50% 50%;
}

h1 {
	color: white;
	font-size: 300%;
    margin: auto;
	font-weight: bold;
}

.project {
	font-family: Century Gothic Bold;
}

.passage {
	font-family: Bitmgothic;
}

.scenario, .reply {
	background-color:rgba(0,0,0,0);
	color: white;
	font-size: 1rem;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid;
	border-color: #6FB98F;
	padding: 5px;
	padding-bottom: 5px;
}

@media (min-width: 768px) {
	button{
		width: 25%;
	}
	.scenario, .reply{
		width: 50%;
	}
	div#EndCard {
		width: 50%;
	}
	@keyframes appear {
		from { 
			width: 25%;
			opacity: 0; 
		}
		to { 
			width: 50%;
			opacity: 1; 
		}
	}
}
	
@media (max-width: 768px) {
	button{
		width: 50%;
	}
	.scenario, .reply{
		width: 75%;
	}
	div#EndCard {
		width: 75%;
	}
	@keyframes appear {
		from { 
			width: 65%;
			opacity: 0; 
		}
		to { 
			width: 75%;
			opacity: 1; 
		}
	}
}

.navigation { 
	margin: 10px;
}

.flex-container {
	display: flex;
	margin-top: 1em;
}

div#EndCard {
	background-color:rgba(0, 0, 0, 0.2);
	color: white;
	animation-name: appear;
	animation-duration: 3s;
	margin: auto;
}

@keyframes endScreen {
	from {
		background-size: 100% 100%;
	}
	to {
		background-size: 300% 300%;
	}
}

.hidden {
   display: none;
}